.success {
  padding: 1rem;
  text-align: center;
  color: green;
}

.error {
  padding: 1rem;
  text-align: center;
  color: red;
}

form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form > * {
  padding: 0.5rem;
  border-radius: 12px;
}

form > button {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
