.success {
  padding: 1rem;
  text-align: center;
  color: green;
}

.error {
  padding: 1rem;
  text-align: center;
  color: red;
}

.wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid #000;
  border-radius: 12px;
}

form > * {
  padding: 0.5rem;
  border-radius: 12px;
}

form > div > input {
  padding: 0.5rem;
  border-radius: 12px;
}

form > button {
  width: 100%;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
