em {
  font-style: normal;
}

section {
  width: 100%;
  padding: 1rem;
}

.container {
  width: max-content;
  margin: 0 auto;
}

[data-field="stock_price"] {
  font-weight: bold;
}

form {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

form > button {
  padding: 1rem;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}
